# --- Python Padrão ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Ambientes Virtuais (Virtual Envs) ---
# Ignora pastas onde as bibliotecas são instaladas
env/
venv/
.venv/
.env

# --- Arquivos de Dados e Mídia (Pesados) ---
# Não queremos subir músicas ou zips para o GitHub
*.wav
*.mp3
*.flac
*.zip
train_audio/
musicas_treino/
podcasts_treino/

# --- Modelos Treinados (Binários) ---
# Geralmente não versionamos o binário, pois ele é gerado pelo Colab.
# Se quiser versionar os modelos para não perder, coloque um # na frente das linhas abaixo.
*.pkl
models/*.pkl

# --- Configurações de IDE e Sistema ---
.vscode/
.idea/
Thumbs.db
Desktop.ini

# --- Logs ---
*.log